swiper-container {
  transition-timing-function: linear !important;
  background-color: rgba(0, 0, 0, 0);
  overflow: visible;
}
swiper-slide {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  height: 200px;
  width: 200px;
}
